#contact-field, h1 {
    font-family: 'Courier New', Courier, monospace;
    left: 5%;
}
.jumbotron {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
}
a {
    color: orange;
}

.email-pic:hover {
    cursor: pointer;
}