<div class="jumbotron"></div>

<div class="row">
    <div class="col col-sm-5" id="contact-field">
        <h1 class="display-2">Contact</h1>
        <hr style="background-color:whitesmoke; margin-left:0; width:35%">
        <p>Personal Email: {{personalEmail}}</p>
        <p>Work Email: {{workEmail}}</p>
        <p>School Email: {{schoolEmail}}</p>
        <p>Git Email : {{gitEmail}}</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/samuel-steinberg-3a028b156/" target="_blank">Samuel Steinberg</a></p>
        <p>Click to get in touch: <img src="../../../assets/contact-images/email-png-7.jpg" alt="mail.jpg" height="30px" width="30px" class="email-pic" (click)="showEmailRegister = !showEmailRegister">
        </p>
    </div>
    <div class="col col-sm-5 offset-lg-2" *ngIf="showEmailRegister">
        <h1 class="display-2 text-white">Info</h1>
        <hr style="background-color:white; margin-left:0; width:35%">
        <email-register></email-register>
    </div>
</div>