<div class="row">
    <div class="col col-sm-1" style="left: calc(50% - 175px);">
        <a href="https://www.linkedin.com/in/samuel-steinberg-3a028b156/" target="_blank" class="tip">
            <span>Continue to LinkedIn</span>
            <img id="profile-pic" border="0" alt="profile_pic.jpg" class="rounded-circle mx-auto d-block" height="350px" src="../../../assets/about-images/profile-pic.jpg">
        </a>
    </div>
</div>

<div class="jumbotron about">
    <h2 class="display-2 text-center">{{title}}</h2>
</div>
<div class="row bio text-center" style="color:lightgray;">
    <div class="col col-md-8 offset-md-2">
        <br>
        <p>
            Sam is currently as Associate Software Engineer at Charles Schwab, Inc. He works on the Statusticians team
            supporting the Schwab Advisor Center (SAC) with Schwab Technology Services (STS). His work on the team covers the 
            full stack for maintaining the Status API (written in C#) and the Status UI (Angular) with a variety of different
            SQL and NoSQL databases.
        </p>
        <p>
            Prior to joining Schwab, Sam graduated Magna Cum Laude from the University of Tennessee, Knoxville with a 
            B.S. in Computer Science and a minor in Cybersecurity. His primary interests in the tech world include full-stack
            development, interactive web development, cyber-physical security risks and solutions, and learning new programming languages and concepts.
        </p>
        <p>
            Outside of the digital world, Sam's interests include playing sports, cars, hiking, enjoying the outdoors, weightlifting,
            studying history, and learning about nutrition.
        </p>
        <p>Growing up between California, the DC metro area, Tennessee, and most recently Florida, working in Austin, TX
             at Charles Schwab gives another opportunity for him to experience this great nation and all it has to offer.
        </p>
        <p class="lets-go">CARPE DIEM!</p>
    </div>
</div>
<div class="row">
    <div class="col col-sm-1 offset-sm-3">
        <div class="card text-center" style="background-color: transparent; box-shadow: none;">
            <div class="card-header" style="box-shadow: none;">
                <a href="https://github.com/spaulsteinberg" target="_blank">
                    <img src="../../../assets/project-links-images/Git-Icon-Black.png" alt="github_logo.png" class="rounded mx-auto d-block" height="100px">
                </a>
            </div>
        </div>
    </div>
    <div class="col col-sm-1 offset-sm-1" style="padding-left: 5%;">
        <div class="card text-center" style="background-color: transparent; box-shadow: none;">
            <div class="card-header" style="box-shadow: none;">
                <a href="https://www.facebook.com/sam.steinberg.79" target="_blank">
                    <img src="../../../assets/about-images/facebook.png" alt="facebook.png" class="rounded mx-auto d-block" height="100px">
                </a>
            </div>
        </div>
    </div>
    <div class="col col-sm-1 offset-sm-1" style="padding-left: 10%;">
        <div class="card text-center" style="background-color: transparent; box-shadow: none;">
            <div class="card-header" style="box-shadow: none;">
                <a href="https://www.linkedin.com/in/samuel-steinberg-3a028b156/" target="_blank">
                    <img src="../../../assets/about-images/linkedin.png" alt="linkedin.png" class="rounded mx-auto d-block" height="100px">
                </a>
            </div>
        </div>
    </div>
</div>


