img {
    padding-top: 20px;
}
a.tip {
    border-bottom: 1px dashed;
    text-decoration: none
}
a.tip:hover {
    position: relative
}
a.tip span {
    display: none
}
a.tip:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: skyblue no-repeat 100% 5%;
    color: whitesmoke;
    left: 0%;
    right: 10%;
    margin: 10px;
    height: 2em;
    width: 175px;
    position: absolute;
    top: 10px;
    text-decoration: none
}

.about {
    background-color:transparent; box-shadow: none; color:lightblue;
    font-weight: bold;
}
.lets-go {
    font-size: 25px;
    font-weight: bold;
}

.card-header {
    background-color: transparent;
    border-bottom: 0;
}
.bio, div {
    font-family: 'Courier New', Courier, monospace;
}
.title-tag-container {
    padding: 2% 0 2% 0;
    color: whitesmoke;
}