<button class="btn btn-primary" (click)="getRepos()">hello</button>
<span class="text-danger" *ngIf="isError">Sonething went wrong in request</span>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Repo</th>
            <th scope="col">Message</th>
            <th scope="col">Date</th>
            <th scope="col">Link</th>
        </tr>
        
    </thead>
    <tbody class="text-primary">
        <tr *ngFor="let commit of toRender">
            <th>{{commit.repoName}}</th>
            <th>{{commit.message}}</th>
            <th>{{commit.date}}</th>
            <th><a href="{{commit.url}}" target="_blank" class="text-primary">View in GitHub</a></th>
        </tr>
    </tbody>
</table>
