table, .mat-paginator {
    width: 75%;
    color: white;
    margin: 0 auto;
}
.header {
    font-size: 20px;
    color: violet;
    width: 15% !important; /* this keep headers from moving */
}
.header-url {
    width: 10% !important;
}
.header-message {
    width: 25% !important;
}
#table-container {
    padding-top: 5%;
}
.mat-row {
    background-color: gray;
}
.mat-row:hover {
    background-color: darkgray;
}
.url-link {
    color: orange;
}
.mat-ripple, .mat-button-ripple.mat-ripple {
    position: fixed;
}
.mat-elevation-z8 {
    box-shadow: none;
    border-color: transparent;
}
