<!--<button class="btn btn-primary" [disabled]="disableOnClick" (click)="disableMeOnClick(); fetchCommits()">hello</button>-->
<span class="text-danger" *ngIf="!isError">Something went wrong in request</span>
<!--<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Repo</th>
            <th scope="col">Message</th>
            <th scope="col">Date</th>
            <th scope="col">Link</th>
        </tr>
        
    </thead>
    <tbody class="text-primary">
        <tr *ngFor="let commit of toRender">
            <th>{{commit.repoName}}</th>
            <th>{{commit.message}}</th>
            <th>{{commit.date}}</th>
            <th><a href="{{commit.url}}" target="_blank" class="text-primary">View in GitHub</a></th>
        </tr>
    </tbody>
</table> -->

<div class="mat-elevation-z8" id="table-container">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="repo">
      <th class="header" mat-header-cell *matHeaderCellDef> Repository Name </th>
      <td mat-cell *matCellDef="let element"> {{element.repoName}} </td>
    </ng-container>

    
    <ng-container matColumnDef="date">
      <th class="header" mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    
    <ng-container matColumnDef="message">
      <th class="header" mat-header-cell *matHeaderCellDef> Commit Message </th>
      <td mat-cell *matCellDef="let element"> {{element.message}} </td>
    </ng-container>

    
    <ng-container matColumnDef="url">
      <th class="header" mat-header-cell *matHeaderCellDef> Link </th>
      <td mat-cell *matCellDef="let element"> <a href="{{element.url}}" class="url-link" target="_blank">View Commit</a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div>