.form-control {
    width: 50%;
    background-color: whitesmoke;
}
.submit-button {
    padding-left: 17%;
}
form {
    color: whitesmoke;
}
.first-name-invalid-message,
.last-name-invalid-message,
.email-invalid-message,
.phone-invalid-message,
.description-invalid-message {
    margin-left: 2em;
}
.form-fail {
    margin-left: 10%;
    font-size: 16pt;
    font-weight: bold;
}
/* set the background of the mat spinner buffer */
::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}