.form-control {
    width: 50%;
    background-color: whitesmoke;
}
.submit-button {
    padding-left: 17%;
}
form {
    color: whitesmoke;
}
.first-name-invalid-message, .last-name-invalid-message {
    margin-left: 2em;
}