<div class="row">
    <div class="col col-md-4 offset-md-4">
        <owl-carousel id="carousel-main" [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
            <div class="item">
                <div class="gif-1">
                    <img src="../../assets/home-images/galaxy.gif" alt="galaxy.gif">
                </div>
            </div>
            <div class="item">
                <div class="gif-2">
                    <img src="../../assets/home-images/rectangle-maze-2.gif" alt="rectangle-maze.gif">
                </div>
            </div>
            <div class="item">
                <div class="gif-3">
                       <img src="../../assets/home-images/star-sun-moon.gif" alt="star-sun-moon.gif">
                </div>
            </div>
        </owl-carousel>
    </div>
</div>