.col {
    padding-bottom: 10px;
}
.card-body {
    height: 6em !important;
    overflow: hidden;
}
.card-body:hover {
    overflow: auto;
}
.card {
    width: 250%;
}
.jumbotron {
    color: whitesmoke;
}
.mat-progress-bar {
    width: 75%;
}
::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}