<span class="text-danger" *ngIf="error != ''">Something went wrong in request: {{error}}</span>
<div class="jumbotron" style="background-color:transparent; box-shadow: none;">
  <img src="../../assets/user-stats-images/github-joke-logo.jpg" alt="github_logo.png" class="rounded-pill mx-auto d-block" height="100px">
  <h2 class="display-4 text-center" style="padding-right:1%;">GitHub Stats</h2>
</div>
<div class="row">
    <div class="col col-lg-8 offset-lg-2">
        <div>
            <div>
              <div class="for-spinner col col-sm-1 offset-md-5">
                <mat-spinner *ngIf="!resourcesLoaded"></mat-spinner>
              </div>
              <owl-carousel id="carousel-main" [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']" *ngIf=" barChartLanguagesLabels != undefined && barChartLanguagesLabels.length > 0">
                <div class="item">
                  <div style="display: block">
                    <canvas baseChart
                          [datasets]="barChartLanguagesData"
                          [labels]="barChartLanguagesLabels"
                          [options]="barChartLanguagesOptions"
                          [legend]="barChartLanguagesLegend"
                          [chartType]="barChartLanguagesType"
                          [plugins] = "barChartPlugins">
                    </canvas>
                  </div>
                </div>
                <div class="item">
                  <div style="display:block;" *ngIf="commitsLineChart?.length && commitsLineChart?.length > 0">
                    <canvas baseChart 
                        [datasets]="commitsLineChart"
                        [labels]="commitLineLabels"
                        [options]="commitLineOptions"
                        [legend]="commitLineLegend"
                        [chartType]="lineChartType">
                    </canvas>
                  </div>
                </div>
                <div class="item">
                  <div style="display:block;" *ngIf="viewsScatterChart?.length && viewsScatterChart?.length > 0">
                    <canvas baseChart 
                        [datasets]="viewsScatterChart"
                        [labels]="viewsScatterLabels"
                        [options]="viewsScatterOptions"
                        [legend]="commitLineLegend"
                        [chartType]="scatterChartType">
                    </canvas>
                  </div>
                </div>
                </owl-carousel>
            </div>
        </div>
    </div>
</div>
