div {
    color: turquoise;
    font-family: 'Courier New', Courier, monospace;
}
.mat-paginator, .mat-table {
    width: 80%;
}
.mat-ripple, .mat-button-ripple.mat-ripple {
    position: fixed;
}
.mat-elevation-z8 {
    box-shadow: none;
    border-color: transparent;
}
.header {
    font-size: 20px;
    color: turquoise;
    width: 15% !important; /* this keep headers from moving */
}
.header-event{
    width: 25% !important;
}
.header-views {
    width: 20% !important;
}
.header-path {
    width: 60% !important;
}
.header-action{
    width: 50% !important;
}
.loading-bar {
    margin: 5% 0 5% 15%;
    width: 50%;
}
::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}
.stat-container {
    margin-bottom: 3%;
}
.stat {
    margin-left: 10%;
}
::ng-deep .mat-row, .mat-table, mat-paginator {
    background: rgba(255,255,255,0);
}
::ng-deep .mat-table{
    border: 1px solid turquoise;
    box-shadow: turquoise;
    box-shadow: 0 0 8px 0 turquoise, 0 6px 20px 0 turquoise;
}
::ng-deep .mat-paginator {
    border-bottom: 1px solid turquoise;
    border-right: 1px solid turquoise;
    border-left: 1px solid turquoise;
    box-shadow: 0 0 8px 0 turquoise, 0 6px 20px 0 turquoise;
}
/*::ng-deep .mat-paginator-icon {
    color: turquoise;
}*/