<div class="row">
    <div class="col col-sm-4">
        <div class="card text-center">
            <div class="card-header">
                <a routerLink="repos">
                    <img src="https://banner2.cleanpng.com/20180716/tza/kisspng-github-computer-icons-clip-art-gits-5b4d20ab1f4131.145288281531781291128.jpg" alt="git_cat.jpg" height="100px">
                    <div class="image-description">Repositories</div>
                </a>
                
            </div>
            <div class="card-body">
                View Repositories and files within
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card text-center">
            <div class="card-header">
                <a routerLink="repos">
                    <img src="https://raw.githubusercontent.com/swellaby/vsts-mirror-git-repository/master/images/extension-icon.png" alt="git_extension_mirror.png" height="100px">
                    <div class="image-description">Latest Commits</div>
                </a>
            </div>
            <div class="card-body">
                View Latest Commits By <a href="https://github.com/spaulsteinberg" target="_blank">spaulsteinberg</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card text-center">
            <div class="card-header">
                <a routerLink="repos">
                    <img src="https://static.javatpoint.com/tutorial/git/images/git-push.png" alt="repos.png" height="100px">
                    <div class="image-description">Filler Content</div>
                </a>
            </div>
            <div class="card-body">
                filler content
            </div>
        </div>
    </div>
</div>
