<div class="row">
    <div class="col col-sm-4">
        <div class="card text-center">
            <div class="card-header">
                <a routerLink="repos">
                    <img src="../../../assets/project-links-images/25231.svg" alt="git_cat.jpg" height="100px">
                    <div class="image-description">Repositories</div>
                </a>
                
            </div>
            <div class="card-body">
                View repositories and files within
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card text-center">
            <div class="card-header">
                <a routerLink="commits">
                    <img src="../../assets/project-links-images/git-extension.gif" alt="git_extension_mirror.png" height="100px">
                    <div class="image-description">Latest Commits</div>
                </a>
            </div>
            <div class="card-body">
                View latest commits by <a href="https://github.com/spaulsteinberg" target="_blank">spaulsteinberg</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-4">
        <div class="card text-center">
            <div class="card-header">
                <a routerLink="userinfo">
                    <img src="../../assets/project-links-images/repos.png" alt="repos.png" height="100px">
                    <div class="image-description"> User Demography</div>
                </a>
            </div>
            <div class="card-body">
                See general GitHub repo information
            </div>
        </div>
    </div>
</div>
