.jumbotron, h1 {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: whitesmoke;
}
#name {
    font-family: 'Courier New', Courier, monospace;
    left: 5%;
}